<!DOCTYPE html>

<html>
<head>
    <title>Hack News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/htmx.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>
<body>

    <section class="section">
        <div class="container">
            <h1 class="title">HATEOS with no library </h1> 
            
            <h2 get="/replace">   example click here to load from server </h2>
        </div>
    </section>
</body>
    <script src="static/script.js"></script>
</html>
                                                            